body,html{
	margin: 0;
	padding: 0;
	background: white;
	overflow-x: hidden;
}


.all-screen-mapa{
	position: fixed;
	width: 100%;
	height: 100%;
}
.mapa{
	position: absolute;
    width: 100%;
	height: 100%;  
}
