body,html{

	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.full-screen-inicio
{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	
}

.element-post{
	position: relative;
	display: inline-block;
	width: 47vw;
	padding-top: 2vh;
	padding-left: 2vw;
	padding-bottom:2vh;
	transition: width .5s;
	border-style:solid;
	border-color:transparent;
	
}

.element-post img{
	-webkit-box-shadow: -7px 9px 12px -1px rgba(0,0,0,0.31);
-moz-box-shadow: -7px 9px 12px -1px rgba(0,0,0,0.31);
box-shadow: -7px 9px 12px -1px rgba(0,0,0,0.31);
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
}

.text-content{
	border-style: solid;
	border-color: white;
	background-color: white;
	padding: 0;
	margin-top: -5%;
	margin-left: .3vw;
	width: 90%;
	height: 10vh;
	display: none;
	border-radius: 0px 0px 20px 20px;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border: 0px solid #000000;

}



.img-post{
	width: 98%;
	padding: 0;
	margin: 0;
	transition: width .5s;
	
}

.text-post{
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
	transition: margin 0.6s;
	transition: width .5s;
}

.text2-post
{
	font-family: 'Roboto', sans-serif;
	font-size: 200%;
	margin-top:-4%;
	color: gray; 
	transition: margin 0.6s;
}

.div-text{
   display: inline-block;
   width: 100%;
}






.descripcion{
	background-color: blue;
	width: 85%;
	height: 4%;
	position: absolute;
	padding: 0;
	margin: 0;
	margin-left: 0%;
	transition: height .6s linear;
	z-index: 2;
	display: none;	
	margin-top: 120%;
}

.description-content{
	text-align: left;
	padding: 4%;
	font-family: 'Open Sans', sans-serif;
	font-size: 250%;
}


.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10{
	display: none;
}



/* elemento c1*/


.c1:active ~ .element-post img {
	width: 80%;
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;
}

.c1:active ~ .element-post .text-content {
	width: 79.3%;
	background-color: white;
	display: inherit;

}


.c1:active ~ #c2{
   filter: blur(40px);
}

.c1:active ~ #c3{
   filter: blur(40px);
}

.c1:active ~ #c4{
   filter: blur(40px);
}

.c1:active ~ #c5{
   filter: blur(40px);
}


.c1:active ~ #c1{
	position: fixed !important;
	display: grid !important;
	z-index: 4 !important;
	width: 100vw !important;
	margin-left: 9vw !important;
    margin-top: 15% !important;
    padding: 0 !important;
    filter: blur(0px) !important;

}


/*elementos checked------------------------*/
/*elemento 1*/


.c1:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c1:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c1:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c1:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c1:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c1:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c1:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c1:checked ~ #c1{
	display: inherit !important;
}


.c1:checked ~ .element-post{
	display: none;
}


/*elemento 2*/


.c2:checked ~ .element-post img {
	width:100%;	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c2:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c2:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c2:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c2:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c2:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c2:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c2:checked ~ #c2{
	display: inherit !important;
}


.c2:checked ~ .element-post{
	display: none;
}


/*elemento 3*/


.c3:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c3:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c3:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c3:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c3:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;
	font-size: 200%;


}

.c3:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c3:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c3:checked ~ #c3{
	display: inherit !important;
}


.c3:checked ~ .element-post{
	display: none;
}

/*elemento 4*/


.c4:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c4:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c4:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c4:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c4:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c4:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c4:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c4:checked ~ #c4{
	display: inherit !important;
}


.c4:checked ~ .element-post{
	display: none;
}


/*elemento 5*/


.c5:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c5:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c5:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c5:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c5:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c5:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c5:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c5:checked ~ #c5{
	display: inherit !important;
}


.c5:checked ~ .element-post{
	display: none;
}

/*elemento 6*/


.c6:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c6:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c6:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c6:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 30vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c6:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height:auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c6:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c6:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c6:checked ~ #c6{
	display: inherit !important;
}


.c6:checked ~ .element-post{
	display: none;
}

/*elemento 7*/


.c7:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c7:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c7:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c7:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c7:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c7:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c7:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c7:checked ~ #c7{
	display: inherit !important;
}


.c7:checked ~ .element-post{
	display: none;
}


/*elemento 8*/


.c8:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c8:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c8:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c8:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c8:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c8:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c8:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c8:checked ~ #c8{
	display: inherit !important;
}


.c8:checked ~ .element-post{
	display: none;
}


/*elemento 9*/


.c9:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c9:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c9:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c9:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c9:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c9:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c9:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c9:checked ~ #c9{
	display: inherit !important;
}


.c9:checked ~ .element-post{
	display: none;
}


/*elemento 10*/


.c10:checked ~ .element-post img {
	width:100%;
	
	padding: 0;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border: 0px solid #000000;
}

.c10:checked ~ .element-post .img-post {
	position: fixed;
	z-index: -1;
}
.c10:checked ~ .element-post{
	width:100%;
	padding: 0;
	margin-top: 0%;	
}

.c10:checked ~ .element-post .text-content { 
	z-index: 6;
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0 !important;

	height: 20vh;
	background-color: white;
	display: grid;
	margin-top: 60vh;
	border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	-webkit-border-radius: 20px 20px 0px 0px;
	border: 0px solid #000000;

}
.c10:checked ~ .element-post .descripcion { 
	z-index: 6;
	width: 100%;
	height: auto;
	margin-top: -1% !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	display: inherit;
	background-color: white;


}

.c10:checked ~ .element-post p.text-post {
	margin-left: 10%;
	font-size: 410%;	
}
.c10:checked ~ .element-post p.text2-post {
	margin-left: 10%;
	font-size: 200%;

}


.c10:checked ~ #c10{
	display: inherit !important;
}


.c10:checked ~ .element-post{
	display: none;
}

.b-buy{
	font-size: 130%;
	font-family: 'Oswald', sans-serif;
	padding: 3%;
	width: 17%;
	padding-left: 7%;
	padding-right: 7%;
	background-color: rgb(241,243,244);
	border-radius: 40px 40px 40px 40px;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	border: 0px solid #000000;
	outline: none;
	outline-style: none;
	outline-color: none;
	shape-outside: none;
	border-style: none;
	margin-left: 30vw;
}

.b-buy:active{
	background-color: #3498db;
	font-color:white;
	color: white;
	outline: none;
	outline-style: none;
	outline-color: none;
	shape-outside: none;
	border-style: outset;
	border: 0px solid #000000;
	-webkit-box-shadow: -200px -200px 0px -200px rgba(0,0,0,0.75);
	-moz-box-shadow: -200px -200px 0px -200px rgba(0,0,0,0.75);
	box-shadow: -200px -200px 0px -200px rgba(0,0,0,0.75);    
}


.div-compra{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 200;
}

.compra-info{
	position: fixed;
	width: 60%;
	height: auto;
	background-color: white;
	margin-top: 70%;
	margin-left: 20%;
	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
	border: 0px solid #000000;
}


.acept{
	width: 49%;
	height: 15%;
	margin-top: 10%;
	margin-left: .5%;
	background-color: transparent;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 300%;
	text-align: center;
	padding-bottom: 6%;
}

.cancel{
	width: 49%;
	height: 15%;
	margin-top: ;
	background-color: transparent;
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 300%;
	text-align: center;
	padding-bottom: 6%;

}

.cvv{
	margin-top: 10%;
	display: inline-block;
	background-color: transparent;
	border:none;
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 300%;
	text-align: center;
	outline-style: none;
}

.div-compra{
	display: none;
}